nav {
    background: #222;
}

.navegacion {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type:none
}

.navegacion li {
    font-size: 1em;
    padding: 1em 0.33em;
}

li:hover{
    background-color: grey;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

.boton a {
    padding: 0.5em 1em;
    background: teal; 
}

li.boton a:hover {
    background:white;
    color:teal;
}

.fas {
    color: white;
    margin-right: 0.5em;
}